.citacao {
	margin: 20px 40px;
	background-color: #D9E5E3;
	padding: 16px;
	border: 10px solid #C2CCCA;
	width: 250px;
	/*border-box calcula começando das bordas*/
	box-sizing: border-box;
}

.citacao-fiat {
	float: right;
}

.citacao-petrobras {
	float: left;
}

cite {
	font-style: italic;
	float: right;
}